body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    background-size: cover;
    display:flex;
    justify-content:center;
    height:100vh;
    color:white;
}

.game-wrapper{
    display:flex;
    gap:25px;
    align-items: center;
    position: relative;
}

.sidebar{
    width:200px;
    background:#1c1c1c;
    padding-left:20px;
    border-radius:12px;
    justify-content: left;
}

.stat{
    margin-top:20px;
    font-size:18px;
}

#board{
    width:540px;
    height:540px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background: url("./assets1/soil.png");
    background-size: cover;
    border:3px solid white;
    border-radius:25px;
}

#board div{
    width:180px;
    height:180px;
    background-image:url("./assets1/pipe.png");
    background-size:cover;
    position: relative;
}

#board div img{
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    user-select:none;
    pointer-events:none;
    bottom:29px;
    top:auto;
}

.timer-bar{
    width:100%;
    height:14px;
    background:#333;
    border-radius:8px;
    overflow:hidden;
    margin-top:6px;
}

#timerFill{
    height:100%;
    width:100%;
    background:#00ff88;
    transition:width 1s linear;
}

@media (max-width: 900px) {
    .game-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .sidebar {
        width: 90%;
        padding: 15px;
        margin-bottom: 20px;
    }
    #board {
        width: 90%;
        height: auto; 
    }
    #board div {
        width: calc(33.33% - 4px); 
        height: auto;
    }
    #board div img {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .sidebar {
        font-size: 14px;
        padding: 10px;
    }
    #board div img {
        width: 60%;
    }
}